.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.table {
    background-color: white;
    border-collapse: collapse;
}

.timeCell {
    background-color: #25975A;
    color: white;
    font-weight: 400;
    text-align: center;
    border: 1px solid white;
    padding: 0.5em;
}

.contentCell {
    background-color: white;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    width: 80%;
}

.hiddenContent {
    display: none;
}

.hiddenContent p {
    margin: 0;
}

.labelContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: 1.25em;
}

.labelImage img{
    width: 8em;
}