body {
    background-image: url("./images/orar_usarb_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 70%;
    margin: 0 auto;
}